.slick-slide img {
  width: 100%;
  min-height: 150px;
  display: block;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li {
  margin: 0px;
}
